body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.user {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.user p {
    margin: 5px 0;
}

.tasks {
    margin-top: 10px;
}

.task {
    margin-bottom: 5px;
}

.completed {
    color: green;
}

.not-completed {
    color: red;
}
